@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eudoxus: var(--font-eudoxus-sans);
  --font-sora: var(--font-sora);
}

/* Font Classes */
.font-sora {
  font-family: var(--font-sora), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), Arial, sans-serif;
}

/* Custom Flex Utilities */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-shadow-gray-500 {
  text-shadow: 0 1px 2px rgb(128, 107, 107);
}

.btn{
  padding: 12px 24px;
border: 1px solid #00007e7a;
border-radius: 5px;
}
.btn:hover{
background: #272727;
transition: all ease-in;
cursor: pointer;

}
.drop-item:hover{
border: 1px solid rgb(20, 20, 156); 
 transition: all ease-in;
 cursor:alias  
  }
