


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eudoxus: var(--font-eudoxus-sans);
  --font-sora: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e !important;
    --foreground: #ededed !important;
  }
}

html body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-sora), Arial, sans-serif !important;
}

.font-sora {
  font-family: var(--font-sora), sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;  
  justify-content: start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 24px;
  border: 1px solid #00007e7a;
  border-radius: 5px;
}
.btn:hover {
  background: #272727;
  transition: background ease;
  cursor: pointer;
}
.drop-item:hover {
  border: 1px solid rgb(20, 20, 156); 
  transition: all ease-in;
  cursor: alias;
}
.project {
  width: 320px;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: linear-gradient(rgba(8, 0, 58, 0.7),rgba(8, 0, 58, 0.7)),url(/public/pro-1.jpg);
}
.home {
  background: linear-gradient(rgba(8, 0, 58, 0.7),rgba(8, 0, 58, 0.7)),url(/src/assets/picture_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
